# ignore .mat files, anywhere in the tree

TempDat/
Texts/
KSLab_Files/
Slides/
Text/.Rhistory
.DS_Store
Plot/
Text/*.html
Text/Plot/
Text/.RData
Text/Old
Text/Slides
C2SModelSever
ModelsExplorationSever
*.pdf
*.png
*.tiff
*.ai
*.svg
*.mat
*.m~
S2CParameterExpoloration/
DepreciatedAnalysis
*.key
*.jpeg
*.pages
*.html
*.docx
*.md
*.pptx
*.zip

